[init]
	defaultBranch = master
[pull]
	rebase = true
[push]
        autoSetupRemote = true
[user]
name = Dung Nguyen Dang
email = dangdungcntt@gmail.com

[includeIf "gitdir:~/eway/"]
  path = ~/.gitconfig-eway

[includeIf "gitdir:~/xa/"]
  path = ~/.gitconfig-xa
