[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
    autoSetupRemote = true
[user]
    name = Dung Nguyen Dang
    email = dangdungcntt@gmail.com

[includeIf "gitdir:~/ew/"]
    path = ~/.gitconfig-ew

[includeIf "gitdir:~/xa/"]
    path = ~/.gitconfig-xa
[core]
	autocrlf = input
